@using Tamagotchi.Models;

@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Create a Tamagotchi</h1>
</div>

<form action="/pets" method="post">
  <div class="form-group">
    <h3>Name</h3>
    <input id="name" name="name" type="text">
  </div>
  <button type="submit">Create Tamagotchi</button>
</form>
<br>
<h3><a href='/'>Home</a><h3>

