@using Tamagotchi.Models;

@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Tamagotchi</h1>
</div>
<div>

  @foreach(Pet tamagotchi in @Model)
  {
    <h3>@tamagotchi.Name</h3>

    <p>Food Level: @tamagotchi.Food</p>
    <p>Attention Level: @tamagotchi.Attention</p>
    <p>Rest Level: @tamagotchi.Sleep</p>
  }

<h3><a href='/'>Feed</a><h3>
<h3><a href='/'>Play With</a><h3>
<h3><a href='/'>Rest</a><h3>

<h3><a href='/'>Edit Name</a><h3>
<h3><a href='/'>Delete this Pet</a><h3>