<h1>Tamagotchi World</h1>
<img src="https://lh3.googleusercontent.com/proxy/dp9lD_bvI1JWViKnZc_dUecIxWbMGx2VK80zNFcWmwhRXLBGJI51Epl3nWk-u85lwB6sHWOD-mKU-yJD6gOpSUjufQ" class="img-fluid" alt="">

<a href="/tamagotchi/create">Make a new Tamagotchi!</a>