@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Welcome to Tamagotchi World!</h1>
</div>
<img src="https://9to5toys.com/wp-content/uploads/sites/5/2019/05/tamagotchi-on-bandai-1.jpg?quality=82&strip=all&w=1600" class="img-fluid" alt="">
<br>
<h2><a href="/pets/new">Make a new Tamagotchi!</a></h2>