@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Welcome to Tamagotchi World!</h1>
</div>
<img src="https://lh3.googleusercontent.com/proxy/1piJP3GDYraWvNZCl0DcXkcgrV_i6No9Y-N0NDHW3K1ZmEW93pfF0fBAai6dHSwGmr-i9KQicUw5Vea_IY-FIDnpFQ" alt="">
<br>
<h2><a href="/pets/new">Make a new Tamagotchi!</a></h2>